
 <div class="main-content pt-4">
    <div class="breadcrumb">
        <h1>Productos en inventario</h1>
        <ul>
            <li><h2 *ngIf="tixs">({{this._uw.tamanoProducts}})</h2></li>
            Mostrar: 
        </ul>
        <div class="col">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{this.mostrar}}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" (click)="setType('hortalizas')"  style="cursor: pointer !important;">Hortalizas</a>
                    <a class="dropdown-item" (click)="setType('carnes')"  style="cursor: pointer !important;">Carnes</a>
                    <a class="dropdown-item" (click)="setType('viveres')"  style="cursor: pointer !important;">Víveres</a>
                    <a class="dropdown-item" (click)="setType('lacteos')"  style="cursor: pointer !important;">Lácteos</a>
                    <a class="dropdown-item" (click)="setType('bebidas')"  style="cursor: pointer !important;">Bebidas</a>
                    <a class="dropdown-item" (click)="setType('postres')"  style="cursor: pointer !important;">Postres</a>
                    <a class="dropdown-item" (click)="setType('limpieza')"  style="cursor: pointer !important;">Limpieza</a>
                    <a class="dropdown-item" (click)="setType('panaderia')"  style="cursor: pointer !important;">Panaderia</a>
                    <a class="dropdown-item" (click)="setType('aseopersonal')"  style="cursor: pointer !important;">AseoPersonal</a>
                    <a class="dropdown-item" (click)="setType('mascotas')"  style="cursor: pointer !important;">Mascotas</a>
                    <!-- <a class="dropdown-item" (click)="setType()"  style="cursor: pointer !important;">Todos</a> -->
                  
                </div>
            </div>
        </div>
         


    </div>
    <div class="separator-breadcrumb border-top"></div>

    <div class="product-cart">
        <div class="row list-grid">
            <div class="list-item col-md-3" *ngFor="let tix of tixs; index as i" [hidden]="this._uw.categorySelected!=tix.categorySuper && !this._uw.showAll" >
           
                <a   >
                    <div class="card o-hidden mb-4 d-flex flex-column">
                      
                        
                        <div class="list-thumb d-flex" routerLink="/productdetail/{{tix.id}}"><img alt="" src="{{tix.images[0]}}" />

                        </div>
                        <div class="flex-grow-1 d-bock" routerLink="/productdetail/{{tix.id}}">
                            <div class="card-body align-self-center d-flex flex-column justify-content-between align-items-lg-center"><a class="w-40 w-sm-100" href="product.html">
                                    <div class="item-title" style="font-size: 1rem;">
                                        {{tix.productName}}
                                    </div>
                                </a>
                                <p class="m-0 text-muted text-small w-15 w-sm-100" style="font-size: 1rem;">  {{tix.category}}</p>
                                <p class="m-0 text-muted text-small w-15 w-sm-100" *ngIf="_uw.info[0]" style="font-size: 1rem;">
                                       <span [hidden]="this._uw.currency==this._uw.info[0].colp || this._uw.currency==this._uw.info[0].usd">Bs.S. </span>
                                        <span [hidden]="this._uw.currency==this._uw.info[0].bs || this._uw.currency==this._uw.info[0].usd">COLP </span>
                                        <span [hidden]="this._uw.currency==this._uw.info[0].bs || this._uw.currency==this._uw.info[0].colp">$ USD </span>
                                        <span [hidden]="this._uw.currency==this._uw.info[0].colp || this._uw.currency==this._uw.info[0].bs">
                                       {{tix.globalPrice*this._uw.currency  |  number:'1.2-2' }}</span>
                                       <span [hidden]="this._uw.currency==this._uw.info[0].usd">
                                       {{tix.globalPrice*this._uw.currency  |  number:'1.2-2' }} </span>
                                       <span> ({{tix.presentacion}})</span>

                                    <!-- <del class="text-secondary">$54.00</del> -->
                                </p>
                            
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</div>