<div class="app-admin-wrap layout-sidebar-vertical sidebar-full">
 	<div class="switch-overlay"></div>
    <div class="main-content-wrap mobile-menu-content bg-off-white m-0">
        <header class="main-header bg-white d-flex justify-content-between p-2" >
            <div class="header-toggle" >
                <div class="menu-toggle mobile-menu-icon">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <i class="i-Speach-Bubble-3 mr-3 text-20 cursor-pointer" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chat"></i>
                <i class="i-Email mr-3 text-20 mobile-hide cursor-pointer" data-toggle="tooltip" data-placement="top" title="" data-original-title="Inbox"></i>
                <i class="i-Arrow-Refresh mobile-hide mr-3 text-20 cursor-pointer" data-toggle="tooltip" data-placement="top" title="" data-original-title="Actualizar"></i>
            </div>
            <div class="header-part-right" >

                 <button class="btn btn-success m-1" type="button" [hidden]="!router.url.includes('/products')"><i class="fa fa-plus text-15"></i> </button>
                  <button class="btn btn-warning m-1" type="button" [hidden]="!router.url.includes('/productdetail')"><i class="i-Pen-4 text-15"></i> </button>


                <div class="col" *ngIf="this._uw.info[0]" [hidden]="this._uw.currency==this._uw.info[0].colp || this._uw.currency==this._uw.info[0].usd || router.url.includes('/config')">
                    <div class="dropdown" >
                        <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Bs.S
                        </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" (click)=setColp()> COLP (Bs.S. {{this._uw.info[0].colp}})</a>
                            <a class="dropdown-item" (click)=setUsd()>$ USD (Bs.S. {{1/this._uw.info[0].usd |  number:'1.0-0' }})</a>
                        </div>
                    </div>
                </div>

                <div class="col" *ngIf="this._uw.info[0]" [hidden]="this._uw.currency==this._uw.info[0].bs || this._uw.currency==this._uw.info[0].usd || router.url.includes('/config')">
                    <div class="dropdown" >
                        <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            COLP (Bs.S. {{this._uw.info[0].colp}}) 
                        </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" (click)=setBs()> Bs.S.</a>
                            <a class="dropdown-item" (click)=setUsd()>$ USD (Bs.S. {{1/this._uw.info[0].usd |  number:'1.0-0' }})</a>
                        </div>
                    </div>
                </div>

                <div class="col" *ngIf="this._uw.info[0]" [hidden]="this._uw.currency==this._uw.info[0].bs || this._uw.currency==this._uw.info[0].colp || router.url.includes('/config')">
                    <div class="dropdown" >
                        <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           USD (Bs.S. {{1/this._uw.info[0].usd |  number:'1.0-0' }}) 
                        </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" (click)=setBs()> Bs.S.</a>
                            <a class="dropdown-item" (click)=setColp()>COLP (Bs.S. {{this._uw.info[0].colp}})</a>
                        </div>
                    </div>
                </div>
            	<i class="i-Full-Screen header-icon d-none d-sm-inline-block" data-fullscreen=""></i>
                <div class="dropdown dropleft"><i class="i-Safe-Box text-muted header-icon" id="dropdownMenuButton" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="menu-icon-grid"><a href="dashboard1.html#"><i class="i-Shop-4"></i> Home</a><a href="dashboard1.html#"><i class="i-Library"></i> UI Kits</a><a href="dashboard1.html#"><i class="i-Drop"></i> Apps</a><a href="dashboard1.html#"><i class="i-File-Clipboard-File--Text"></i> Forms</a><a href="dashboard1.html#"><i class="i-Checked-User"></i> Sessions</a><a href="dashboard1.html#"><i class="i-Ambulance"></i> Support</a></div>
                    </div>
                </div>
            </div>
        </header>
		<app-sidenav></app-sidenav>
		<router-outlet></router-outlet>
		<app-footer></app-footer>
	</div>
</div>

	